{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>
                    <a href=#>
                        {{ book.name }}
                    </a>
                </h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
            {% endfor %}
        </div>
        <div style="margin-top: 100px">
            <p>
                {% if date_previous != none %}
                    <a href="{% url 'date' date_previous %}">< {{ date_previous }} </a>
                {% endif %}

                {% if date_next != none %}
                    <a href="{% url 'date' date_next %}"> {{ date_next }} ></a>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}
